<!DOCTYPE html>
<html>
<head>
  <title>Revly</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav id="user_nav">
    <ul>
      <%= render 'devise/menu/login_items' %>
    </ul>
  </nav>

  <!-- Flash notices & alerts -->
  <% if flash[:success] %>
    <div class="success"><%= flash[:success] %></p>
  <% end %>

  <% if flash[:error] %>
    <div class="error"><%= flash[:error] %></p>
  <% end %>

<%= yield %>

</body>
</html>
