<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Revly" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Revly" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <!-- Modernizr, required for Foundation -->
    <%= javascript_include_tag 'vendor/modernizr' %>
    <!-- gon -->
    <%= include_gon %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- Page header -->
    <header>
      <!--Nav bar -->
      <%= render 'layouts/navigation' %>
    </header>
    <!-- Main page -->
    <main role="main">
      <!-- Foundation messages -->
      <%= render 'layouts/messages' %>
      <!-- Main content -->
      <%= yield %>
    </main>
  </body>
</html>
